body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-brown);
}

main {
  display: grid;
  grid-template-rows: 1fr 4fr;
  width: min(80rem, 95%);
  background: var(--clr-dark-brown);
}