body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-brown);
  font-family: 'Open Sans', sans-serif;
}

main {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "display";
  width: min(80rem, 95%);
  height: 80%;
  padding: 1rem;
  gap: 1rem;
  background: var(--clr-dark-brown);
  border-radius: .5rem;
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.3);
}