.main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-beige);
  cursor: pointer;
  border-radius: .5rem;
  transition: background .3s ease;
  font-size: clamp(1.8rem, 2.4rem, 2vw);
  color: var(--clr-dark-brown);
}

.main-btn:hover {
  background: var(--clr-dark-beige);
}